[submodule "lci"]
	path = lci
	url = https://github.com/uiuc-hpc/lci.git
[submodule "arl"]
	path = arl
	url = https://github.com/JiakunYan/arl.git
[submodule "lcw"]
	path = lcw
	url = https://github.com/JiakunYan/lcw.git
[submodule "hpx"]
	path = hpx
	url = https://github.com/uiuc-hpc/hpx.git
